<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxin.member.mapper.HxMenuMapper">

    <resultMap id="BaseResultMap" type="com.huaxin.member.model.HxMenu">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="order_num" property="orderNum" jdbcType="INTEGER" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />

    </resultMap>
    <sql id="Base_Column_List">
		id, name, parent_id, url,type,icon,order_num,create_by,create_time
	</sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from hx_menu
        where is_delete <![CDATA[ <> ]]> 1


        order by order_num

    </select>


    <select id="findTreeOfLoginName" parameterType="map" resultMap="BaseResultMap">
        select

        DISTINCT m.id, m.name , m.parent_id, m.url,m.type,m.icon,m.order_num,m.create_by,m.create_time

        from hx_menu m
        left join hx_role_menu rm on rm.menu_id = m.id
        left join hx_role r on r.id = rm.role_id
        left join hx_user_role ur on ur.role_id = r.id
        left join hx_user u on ur.user_id = u.id

        where u.is_delete <![CDATA[ <> ]]> 1

        <if test="loginName !=null and loginName!=''">
            and u.login_name = #{loginName}
        </if>

        <if test="userId !=null and userId!=''">
            and u.id = #{userId}
        </if>


        order by order_num

    </select>




    <insert id="saveOrUpdateMenu" parameterType="map">
        replace into hx_menu(
        id,
        name,
        parent_id,
        url,
        type,
        icon,
        order_num,
        create_by

        )
        values (
        #{id},
        #{name},
        #{parentId},
        #{url},
        #{type},
        #{icon},
        #{orderNum},
        #{createBy}
        );
    </insert>

    <update id="deleteMenu" parameterType="map">
        update hx_menu set is_delete=1  where 1=1
        <if test="ids!='' and ids!=null">
            and id  in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </update>

</mapper>