<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxin.member.mapper.HxOrganizationMapper">

    <resultMap id="BaseResultMap" type="com.huaxin.member.model.HxOrganization">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="organization_name" property="organizationName" jdbcType="VARCHAR" />
        <result column="organization_address" property="address" jdbcType="VARCHAR" />
        <result column="tel_phone" property="telPhone" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="contacts" property="contacts" jdbcType="VARCHAR" />
        <result column="organization_type" property="organizationType" jdbcType="VARCHAR" />
        <result column="organization_num" property="organizationNum" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />

    </resultMap>
    <sql id="Base_Column_List">
		h.id, h.organization_name, h.tel_phone,h.contacts,h.remarks,h.organization_type, h.organization_num, h.parent_id, h.create_time
	</sql>

    <select id="findList" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from hx_organization h

        where h.is_delete <![CDATA[ <> ]]> 1

        <if test="organizationName!=null and organizationName!=''">
            and h.organization_name  like concat('%',#{organizationName},'%')
        </if>

        <if test="id!=null and id!=''">
            and h.id =#{id}
        </if>

        order by h.create_time desc
    </select>


    <insert id="saveOrUpdateOrg" parameterType="map">
        replace into hx_organization(
            id,
            organization_name,
            organization_address,
            tel_phone,
            remarks,
            contacts,
            organization_type,
            organization_num,
            parent_id
        )
        values (
            #{id},
            #{organizationName},
            #{address},
            #{telPhone},
            #{remarks},
            #{contacts},
            #{organizationType},
            #{organizationNum},
            #{parentId}
        );
    </insert>

    <update id="deleteOrgId" parameterType="map">
        update  hx_organization set is_delete =1 where 1=1
        <if test="ids!='' and ids!=null">
            and id  in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </update>

</mapper>