<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxin.member.mapper.HxRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.huaxin.member.model.HxRoleMenu">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="menu_id" property="menuId" jdbcType="INTEGER" />
        <result column="name" property="menuName" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />

    </resultMap>


    <select id="findList" parameterType="map" resultMap="BaseResultMap">
        select
          rm.id, rm.role_id,r.role_name, rm.menu_id ,m.name ,
          rm.create_by, rm.create_time
        from hx_role_menu rm

        left join hx_role r on rm.role_id=r.id

        left join hx_menu m on rm.menu_id=m.id

        where 1=1

        <if test="menuId!=null and menuId!=''">
            and menu_id= #{menuId}
        </if>

        <if test="roleId!=null and roleId!=''">
            and role_id= #{roleId}
        </if>


        order by create_time

    </select>


    <insert id="saveOrUpdateMenu" parameterType="map">
        replace into hx_role_menu(
        id,
        role_id,
        menu_id,
        create_by
        )
        values (
        #{id},
        #{roleId},
        #{menuId},
        #{createBy}
        );
    </insert>

    <insert id="saveRoleMenu" parameterType="java.util.List">
        insert into hx_role_menu
        (
            id,
            role_id,
            menu_id,
            create_by
        )
        values
        <foreach collection="list" item="hxRoleMenu" index="index" separator=",">
            (
                #{hxRoleMenu.id},
                #{hxRoleMenu.roleId},
                #{hxRoleMenu.menuId},
                #{hxRoleMenu.createBy}
            )
        </foreach>

    </insert>

    <delete id="deleteMenu" parameterType="map">
        delete from  hx_role_menu  where 1=1
        <if test="ids!='' and ids!=null">
            and id  in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </delete>


    <delete id="deleteRoleMenuOfRoleId" parameterType="java.lang.String">
        delete from  hx_role_menu  where role_id= #{roleId}
    </delete>

</mapper>