<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxin.member.mapper.ManageTypeInfoMapper">

    <select id="findList" parameterType="map" resultType="map">
        select
          id, manage_name as manageName,manage_type manageType
        from manage_type_info
        where is_delete <![CDATA[ <> ]]> 1

        <if test="manageType!=null and manageType!=''">
            and manage_type=#{manageType}
        </if>

        order by create_time desc
    </select>


    <insert id="saveOrUpdateInfo" parameterType="map">
        replace into manage_type_info(
        id,
        manage_name,
        manage_type

        )
        values (
        #{id},
        #{manageName},
        #{manageType}


        );
    </insert>

    <insert id="deleteInfo" parameterType="map">
      update manage_type_info set is_delete=1

         where 1=1
        <if test="ids!='' and ids!=null">
            and id  in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </insert>


</mapper>