<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxin.member.mapper.QualitativeQuestionLibraryMapper">

    <select id="findList" parameterType="map" resultType="map">
        select
            q.id, q.title,q.manage_type as manageId,m.manage_name as manageName,
            q.questionnaire_type as questionnaireType,mt.manage_name as questionName,q.answer_ofA as answerOfA,
            q.confidence_level_ofA as confidenceLevelOfA,q.edition,
            q.answer_ofB as answerOfB,q.confidence_level_ofB as confidenceLevelOfB
        from qualitative_question_library q

        left join manage_type_info m on q.manage_type=m.id

        left join manage_type_info mt on q.questionnaire_type=mt.id

        where q.is_delete <![CDATA[ <> ]]> 1

        <if test="edition!=null and edition!=''">
            and q.edition = #{edition}
        </if>

        <if test="edition==null or edition==''">
            and q.edition is null
        </if>

        <if test="manageId!=null and manageId!=''">
            and q.manage_type = #{manageId}
        </if>

        <if test="manageIds!=null and manageIds!=''">
            and q.manage_type in
            <foreach collection="manageIds" item="manageId" index="index" open="(" close=")" separator=",">
                #{manageId}
            </foreach>
        </if>

        <if test="questionnaireType!=null and questionnaireType!=''">
            and q.questionnaire_type = #{questionnaireType}
        </if>



        order by q.create_time
    </select>


    <insert id="saveOrUpdateLibrary" parameterType="map">
        replace into qualitative_question_library(
        id,
        title,
        manage_type,
        questionnaire_type,
        answer_ofA,
        confidence_level_ofA,
        answer_ofB,
        confidence_level_ofB,
        edition

        )
        values (
        #{id},
        #{title},
        #{manageId},
        #{questionnaireType},
        #{answerOfA},
        #{confidenceLevelOfA},
        #{answerOfB},
        #{confidenceLevelOfB},
        #{edition}

        );
    </insert>

    <update id="deleteLibrary" parameterType="map">
        update qualitative_question_library set is_delete=1

        where 1=1
        <if test="ids!='' and ids!=null">
            and id  in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </update>

</mapper>