<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxin.member.mapper.RationQuestionLibraryMapper">



    <select id="findList" parameterType="map" resultType="map">
        select
        q.id, q.title,
        q.manage_id as manageId,m.manage_name as manageName,

        q.ration_type as rationType,mt.manage_name as rationManageName,q.ration_remark as rationRemark,q.edition,
        q.ration_data as rationData,q.ration_code as rationCode
        from ration_question_library q

        left join manage_type_info m on q.manage_id= m.id

        left join manage_type_info mt on q.ration_type= mt.id

        where q.is_delete <![CDATA[ <> ]]> 1

        <if test="edition!=null and edition!=''">
            and q.edition = #{edition}
        </if>

        <if test="edition==null or edition==''">
            and q.edition is null
        </if>

        <if test="manageIds!=null and manageIds!=''">
            and q.manage_id in
            <foreach collection="manageIds" item="manageId" index="index" open="(" close=")" separator=",">
                #{manageId}
            </foreach>
        </if>

        <if test="manageId!=null and manageId!=''">
            and q.manage_id = #{manage_id}
        </if>

        <if test="rationType!=null and rationType!=''">
            and q.ration_type = #{rationType}
        </if>


        <if test="id!=null and id!=''">
            and q.id = #{id}
        </if>


        order by q.create_time
    </select>



    <insert id="saveOrUpdateLibrary" parameterType="map">
        replace into ration_question_library(
            id,
            title,
            manage_id,
            ration_type,
            ration_remark,
            ration_data,
            ration_code,
            edition
        )
        values (
        #{id},
        #{title},
        #{manageId},
        #{rationType},
        #{rationRemark},
        #{rationData},
        #{rationCode},
        #{edition}

        );
    </insert>

    <insert id="saveRation" parameterType="com.huaxin.member.model.RationQuestionLibrary" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into ration_question_library(
            id,
            title,
            manage_id,
            ration_type,
            ration_remark,
            ration_data,
            ration_code,
            edition
        )
        values (
            #{id},
            #{title},
            #{manageId},
            #{rationType},
            #{rationRemark},
            #{rationData},
            #{rationCode},
            #{edition}

        );
    </insert>


    <update id="deleteLibrary" parameterType="map">
        update ration_question_library set is_delete=1

        where 1=1
        <if test="ids!='' and ids!=null">
            and id  in
            <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </update>


    <update id="deleteOfId" parameterType="map">
        update ration_question_library set is_delete=1

        where 1=1 id = #{id}

    </update>

</mapper>