<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huaxin.member.mapper.RationConfidenceInfoMapper">

    <resultMap id="BaseResultMap" type="com.huaxin.member.model.RationConfidenceInfo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="fraction" property="fraction" jdbcType="VARCHAR" />
        <result column="rationId" property="rationId" jdbcType="INTEGER" />

    </resultMap>

    <select id="findList" parameterType="java.lang.String" resultType="map">
        select
          id,title,ration_id as rationId,fraction
        from ration_confidence_info

        where ration_id = #{rationId}

        order by create_time desc
    </select>





    <insert id="saveOrUpdateAnswer" parameterType="map">
        replace into ration_confidence_info(
            id,
            title,
            fraction,
            ration_id
        )
        values (
        #{id},
        #{title},
        #{fraction},
        #{rationId}
        );
    </insert>


    <insert id="saveAnswer" parameterType="java.util.List">
        insert into ration_confidence_info(
            id,
            title,
            fraction,
            ration_id
        )
        values
        <foreach collection="list" item="rationConfidenceInfo" index="index" separator=",">
            (
            #{rationConfidenceInfo.id},
            #{rationConfidenceInfo.title},
            #{rationConfidenceInfo.fraction},
            #{rationConfidenceInfo.rationId}
            )
        </foreach>

    </insert>



</mapper>